@media screen and (max-width: 991px) {
  .bgHeader {
    height: 33rem;
  }
}

@media screen and (max-width: 768px) {
  .bgHeader {
    height: 37rem;
  }

  .bgdiv {
    width: 270px;
    right: 12rem;
  }

  .pSection1 {
    font-size: 1rem;
  }

  .fsexplain {
    font-size: 16px;
  }

  /*section one */
  .justifyText {
    font-size: 1rem;
  }

  .divscroll {
    overflow-x: scroll !important;
  }

  .parallax {
    height: auto;
  }

  .pt7 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .title {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .bgdiv {
    right: 8rem;
  }
}

@media screen and (max-width: 592px) {
  .bgHeader {
    height: 39rem;
  }

  .bgdiv {
    right: 3rem;
  }

  .btnwhite {
    font-size: 0.75rem;
  }

  .btnoutlinewhite {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 592px) {
  .bgdiv {
    width: 250px;
    right: 0;
  }
}
